.mainContainer {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.container {
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    padding: 10px;
}